html {
    font-family: Roboto;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
}

body {
    margin: 0
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
    display: block
}

audio,
canvas,
progress,
video {
    display: inline-block;
    vertical-align: baseline
}

audio:not([controls]) {
    display: none;
    height: 0
}

[hidden],
template {
    display: none
}

a {
    background-color: transparent
}

a:active,
a:hover {
    outline: 0
}

abbr[title] {
    border-bottom: 1px dotted
}

b,
strong {
    font-weight: bold
}

dfn {
    font-style: italic
}

h1 {
    font-size: 2em;
    margin: .67em 0
}

mark {
    background: #ff0;
    color: #000
}

small {
    font-size: 80%
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline
}

sup {
    top: -0.5em
}

sub {
    bottom: -0.25em
}

img {
    border: 0
}

svg:not(:root) {
    overflow: hidden
}

figure {
    margin: 1em 40px
}

hr {
    box-sizing: content-box;
    height: 0
}

pre {
    overflow: auto
}

code,
kbd,
pre,
samp {
    font-family: monospace, monospace;
    font-size: 1em
}

button,
input,
optgroup,
select,
textarea {
    color: inherit;
    font: inherit;
    margin: 0
}

button {
    overflow: visible
}

button,
select {
    text-transform: none
}

button,
html input[type="button"],
input[type="reset"] {
    -webkit-appearance: button;
    cursor: pointer
}

button[disabled],
html input[disabled] {
    cursor: default
}

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0
}

input {
    line-height: normal
}

input[type="checkbox"],
input[type="radio"] {
    box-sizing: border-box;
    padding: 0
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    height: auto
}

input[type="search"] {
    -webkit-appearance: textfield
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none
}

fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: .35em .625em .75em
}

legend {
    border: 0;
    padding: 0
}

textarea {
    overflow: auto
}

optgroup {
    font-weight: bold
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

td,
th {
    padding: 0
}

.header {
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(to top, #2d9cdb, #56ccf2);
}

.title-bar {
    width: 94.2vw;
    display: flex;
    justify-content: space-between;
    padding: 1.5vh 2.9vw;
    position: fixed;
    top: 0;
}
.title-bg{
    background-color: #ffffff;
    box-shadow: 0px 3px 8px #d3d0d0;
}

.title-bg > .title-h1 {
    color: #02a0df
}

.title-h1 {
    font-size: 36px;
    font-weight: bold;
    color: #f2f2f2;
}

.navigation-links {
    margin: 0;
    list-style-type: none;
}

.navigation-link {
    margin: 8px;
    display: inline-block;
    font-size: 24px;
    font-weight: bold;
    color: #f2f2f2;
}

.title-bg .navigation-link {
    color: #02a0df
}


.feature-item {
    width: 100vw;
    display: flex;
}

.features {
    width: 100vw;
    background-image: linear-gradient(to top, #eff0f0 25%, rgba(242, 242, 242, 0));
}

.main-heading {
    text-align: center;
    font-size: 40px;
    font-weight: 200;
    color: #333333;
}

.links-med {
    color: #2d9cdb;
    font-size: 24px;
}

.pull-right {
    float: right;
}

.sub-heading {
    font-size: 40px;
    font-weight: 200;
    color: #333333;
}

.description {
    font-size: 24px;
    color: #787070;
}

.feature-content-right {
    margin: 16vh 6vw 0 8vw;
}

.features img {
    max-width: 50vw;
}

.feature-content-left {
    margin: 16vh 8vw 0 6vw;
}

.margin-t-16 {
    margin-top: 16vh;
}

.margin-t-8 {
    margin-top: 8vh;
}

.app-grid {
    display: flex;
    flex-wrap: wrap;
}

.app-grid .app-icon {
    margin: 30px;
}

.icon-gutter {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 118.5px;
    height: 118.6px;
    background-color: #e0e0e0;
    border-radius: 50%;
}

.icon-gutter .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
    background-color: #f2f2f2;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    border-radius: 50%;
}

.icon-gutter .icon img {
    border-radius: 50%;
    width: 64px;
}

.app-listing {
    margin: 12vh 12vw;
}

.sub-list {
    color: #787070;
    font-size: 20px;
    margin: 3px;
}